<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Employee">

	
	<resultMap id="memberDeptMap" type="com.kedu.dto.MemberDTO">
	    <!-- employee 컬럼 -->
	    <id property="emp_code_id" column="emp_code_id" />
	    <result property="emp_name" column="emp_name" />
	    <result property="emp_email" column="emp_email" />
	
	    <!-- department DTO 매핑 -->
	    <association property="departDTO" javaType="com.kedu.dto.DepartDTO">
	        <id property="dept_id" column="dept_id" />
	        <result property="dept_name" column="dept_name" />
	    </association>
	    
	    <!-- job DTO 매핑 -->
	    <association property="jobDTO" javaType="com.kedu.dto.JobDTO">
	        <id property="job_id" column="job_id" />
	        <result property="job_name" column="job_name" />
	    </association>
	</resultMap>
	
	
    <select id="selectAllMembers" resultMap="memberDeptMap">
        SELECT 
        	e.emp_code_id AS emp_code_id, 
        	e.emp_name AS emp_name, 
        	e.emp_email AS emp_email, 
        	d.dept_id  AS dept_id, 
        	d.dept_name AS dept_name, 
        	j.job_id AS job_id,  
        	j.job_name AS job_name   
        FROM employee e 
        	left join department d on e.emp_dept_id = d.dept_id
        	LEFT JOIN job j ON e.emp_job_id = j.job_id
    </select>

    


    <insert id="insertMember" parameterType="com.kedu.dto.MemberDTO">
        INSERT INTO employee(emp_code_id, emp_per_id, emp_dept_id, emp_job_id, emp_loginId, emp_pw, emp_name, emp_rrn, emp_phone,emp_email,postcode, address1, address2, hire_date, salary, isDeft)
        VALUES(emp_seq.nextval, 501 , #{emp_dept_id}, #{emp_job_id}, #{emp_loginId}, #{emp_pw}, #{emp_name}, #{emp_rrn}, #{emp_phone}, #{emp_email}, #{postcode}, #{address1}, #{address2}, #{hire_date}, #{salary}, 'N')
    </insert>

    <update id="updateMember" parameterType="com.kedu.dto.MemberDTO">
        UPDATE employee
        SET emp_dept_id = #{emp_dept_id}, emp_job_id = #{emp_job_id}, address1 = #{address1, jdbcType=VARCHAR}
        WHERE emp_code_id = #{emp_code_id}
    </update>

    <delete id="deleteMember" parameterType="String">
        DELETE FROM employee WHERE emp_code_id = #{emp_code_id}
    </delete>
    
    <select id="selectDeptManager" parameterType="Integer" resultType="com.kedu.dto.MemberDTO">
    	select emp_code_id,emp_name from employee where emp_dept_id = #{id} 
    </select>

</mapper>
